*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body html{

}
body{
    background: url(kep/hatter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.help{
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.video-container{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
.title-videok{
    color: #fff;
    text-align: center;
    padding: 8px 10px;
}
.size-video{
    width: 280px;
    height: auto;
}
.video-standard{
    text-align: center;
}
.menu-box{
    padding-top: 150px;
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px black;
}
.cim{
    text-align: center;
}

.nyil{
    position: fixed;
    left: 70px;
    color: gold;
    text-shadow: 2px 2px 1px black;
    padding: 10px 8px;
    font-size: 15px;
    margin-bottom: 50px;
}
.nyil:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
}
.nyil:active{
    color: #fff;
}

.logo{
    width: 60px;
    height: auto;
    padding-bottom: 100px;
}
.menu{
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 10px;
}
.menu:hover{
    text-decoration: none;
    color: gold;
    background: rgba(255, 255, 255, 0.5);
}
@media(min-width: 992px){
    .menu-box{
        padding-top: 200px;
        height: 100%;
        width: 200px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .nyil{
        position: fixed;
    }
    h1{
        font-size: 36px;
    }
    .size-video{
        width: 560px;  
        height: 315px;
    }
    .video-container{
        width: 80%;

    }
}
